# Project exclude paths
/.gradle/
/Simple Banking System (Java)/task/build/
/Simple Banking System (Java)/task/out/
/Simple Banking System (Java)/task/out/production/classes/
.idea/modules/Simple Banking System (Java)/task/build/generated/sources/annotationProcessor/java/Simple_Banking_System_(Java).Simple_Banking_System__Java_-task-build-generated-sources-annotationProcessor-java.iml
.idea/modules/Simple Banking System (Java)/task/build/generated/sources/annotationProcessor/java/Simple_Banking_System_(Java).Simple_Banking_System__Java_-task-build-generated-sources-annotationProcessor-java.main.iml
.idea/modules/Simple Banking System (Java)/task/build/generated/sources/annotationProcessor/java/Simple_Banking_System_(Java).Simple_Banking_System__Java_-task-build-generated-sources-annotationProcessor-java.test.iml
.idea/modules/Simple Banking System (Java)/task/build/generated/sources/headers/java/Simple_Banking_System_(Java).Simple_Banking_System__Java_-task-build-generated-sources-headers-java.main.iml
.idea/modules/Simple Banking System (Java)/task/build/generated/sources/headers/java/Simple_Banking_System_(Java).Simple_Banking_System__Java_-task-build-generated-sources-headers-java.test.iml
